body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url(../img/JojoDiamond_S04Ep26-t.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hidden {
  display: none;
}
.animation-pc {
animation-name: movie-pc;
animation-duration: 5s;
}
@keyframes movie-pc {
  0% {

  }
  50%{
    top:40%;
    transform: scale(1.5);
  }
}
.animation {
  animation-name: movie;
  animation-duration: 5s;

}
@keyframes movie {
  0% {

  }
  25%{
    top:20%;
    left: 30%
    transform:scale(1.2);
    l
  }
  50% {
    top:40%;
    left:60%;
    transform: scale(1.5);
  }
  75% {
    top: 20%;
    left:60%
    transform:scale(1.2);
  }
  100% {

  }

}

#gioca {
  cursor:pointer;
}
h1 {
  text-align: center;
}
h2 {
  display: block;
  border: 1px solid black;
  padding: 10px;
  border-radius: 20%;
  background-color: lightgrey;
}
.punteggio {
  display: flex;
  justify-content: space-around;
}
.wrap-morra {
  display: flex;
  justify-content: space-around;

}
.decisione-player{
  display: flex;
  flex-direction: column;
}

.decisione-cpu{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.decisione-player img {
  width: 30%;
  padding: 8%;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
}
.decisione-cpu img {
  width: 30%;
  padding: 8%;
  border-radius: 100%;
  position: relative;
}
